* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: url("auth-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  min-height: 200px;
  max-height: 250px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.container .input-box {
  width: 100%;
  margin: 5px 0;
}

.input-box input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  background-color: transparent;
}

.input-box input::placeholder {
  color: #fff;
}

.container .btn {
  width: 100%;
  border-radius: 12px;
  border: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.container .bottom-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;

}

.container .bottom-msg p {
  height: 100%;
  color: #fff;
}

.container .bottom-msg a {
  height: 100%;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.container .btn {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.container .btn:hover {
  background-color: blueviolet;
  color: #fff;
}

@keyframes hide {
  from {
    opacity: 1;
    width: 100%;
    height: 40px;
  }

  to {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    border-width: 0;
    margin: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    border-width: 0;
    margin: 0;
  }

  to {
    opacity: 1;
    width: 100%;
    height: 40px;
  }
}


.hide {
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.appear {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: both;
}

/* .hide input { */
/*   animation-name: hide; */
/*   animation-duration: 2s; */
/*   animation-fill-mode: both; */
/*   animation-timing-function: ease-in-out; */
/* } */
/**/
/* .appear input { */
/*   animation-name: appear; */
/*   animation-duration: 2s; */
/*   animation-fill-mode: both; */
/*   animation-timing-function: ease-in-out; */
/**/
/* } */
