{% extends 'trainer/layout.html' %}
{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'trainer/auth.css' %}">
 
{% endblock style %}

{% block title %}
    Autenticação
{% endblock title %}

{% block body %}
    <div class="container">
        <form action="{% url 'trainer:auth' %}" method="post">
            {% csrf_token %}

            <div id="username" class="input-box">
                <input type="text" name="username" placeholder="Usuário">
            </div>

            <div id="password" class="input-box">
                <input type="password" name="password" placeholder="Senha">
            </div>

            <input class="btn" type="submit" value="Login">
        </form>

        <div class="bottom-msg">
            <p>Sem conta? </p>
            <a href="#">Registre-se</a>
        </div>

    </div>

{% endblock body %}

{% block script %}

    <script src="{% static 'trainer/auth.js' %}"></script>

{% endblock script %}
