{% extends 'trainer/layout.html' %}
{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'trainer/index.css' %}">

{% endblock style %}

{% block body %}

    <div id="menu" class="container">

        <!-- TODO: improve button style and add an icon -->
        <!-- TODO: change name dynamically when clicking (go back to memory/math) -->

        <button id="switch-area">Math</button>

        <div data-discipline="words" class="card">
            <img src="{% static 'trainer/index/words.svg' %}" alt="Ícone representando a disciplina de memorização de palavras" />
            <p>Palavras</p>
        </div>

        <div data-discipline="cards" class="card">
            <img src="{% static 'trainer/index/cards.svg' %}" alt="Ícone representando a disciplina de memorização de cartas" />
            <p>Cartas</p>
        </div>

        <div data-discipline="names-and-faces" class="card">
            <img src="{% static 'trainer/index/names_and_faces.svg' %}" alt="Ícone representando a disciplina de memorização de nomes e rostos" />
            <p>Nomes e rostos</p>
        </div>

        <div data-discipline="numbers" class="card">
            <img src="{% static 'trainer/index/numbers.svg' %}" alt="Ícone representando a disciplina de memorização de dígitos numéricos" />
            <p>Números</p>
        </div>

        <div data-discipline="images" class="card">
            <img src="{% static 'trainer/index/images.svg' %}" alt="Ícone representando a disciplina de memorização de imagens" />
            <p>Imagens</p>
        </div>

        <div data-discipline="spoken-numbers" class="card">
            <img src="{% static 'trainer/index/spoken_numbers.svg' %}" alt="Ícone representando a disciplina de memorização de números falados" />
            <p>Números falados</p>
        </div>
    </div>

    <div id="settings" clas="settings">
        <form>
            <div class="input-box">
                <input type="text" name="memo" value="" placeholder="Tempo de memorização">
            </div>
            <div class="input-box">
                <input type="text" name="recall" value="" placeholder="Tempo de recall">
            </div>
            <div class="input-box">
                <input type="text" name="group-by" value="" placeholder="Quantos por vez">
            </div>
            <div class="input-box">
                <input type="text" name="amount" value="" placeholder="Quantidade">
            </div>
            <button type="submit">Começar</button>
        </form>
    </div>

{% endblock body %}

{% block script %}

    <script type="module" src="{% static 'trainer/index.js' %}"></script>

{% endblock script %}
