{% load static %}

<style>

    img {
        width: 5rem;
        position: relative;
    }



    span {
        position: relative;
        z-index: 0;
    }

    span > img {
        position: relative;
        z-index: 10;
    }

</style>

<script>
    const clubsA = `<span><img src="{% static 'cards/cards/clubs_A.png' %}" alt="clubs_A"></span>`
    const clubs2 = `<span><img src="{% static 'cards/cards/clubs_2.png' %}" alt="clubs_2"></span>`
    const clubs3 = `<span><img src="{% static 'cards/cards/clubs_3.png' %}" alt="clubs_3"></span>`
    const clubs4 = `<span><img src="{% static 'cards/cards/clubs_4.png' %}" alt="clubs_4"></span>`
    const clubs5 = `<span><img src="{% static 'cards/cards/clubs_5.png' %}" alt="clubs_5"></span>`
    const clubs6 = `<span><img src="{% static 'cards/cards/clubs_6.png' %}" alt="clubs_6"></span>`
    const clubs7 = `<span><img src="{% static 'cards/cards/clubs_7.png' %}" alt="clubs_7"></span>`
    const clubs8 = `<span><img src="{% static 'cards/cards/clubs_8.png' %}" alt="clubs_8"></span>`
    const clubs9 = `<span><img src="{% static 'cards/cards/clubs_9.png' %}" alt="clubs_9"></span>`
    const clubs10 = `<span><img src="{% static 'cards/cards/clubs_10.png' %}" alt="clubs_10"></span>`
    const clubsJ = `<span><img src="{% static 'cards/cards/clubs_J.png' %}" alt="clubs_J"></span>`
    const clubsQ = `<span><img src="{% static 'cards/cards/clubs_Q.png' %}" alt="clubs_Q"></span>`
    const clubsK = `<span><img src="{% static 'cards/cards/clubs_K.png' %}" alt="clubs_K"></span>`

    const diamondsA = `<span><img src="{% static 'cards/cards/diamonds_A.png' %}" alt="diamonds_A"></span>`
    const diamonds2 = `<span><img src="{% static 'cards/cards/diamonds_2.png' %}" alt="diamonds_2"></span>`
    const diamonds3 = `<span><img src="{% static 'cards/cards/diamonds_3.png' %}" alt="diamonds_3"></span>`
    const diamonds4 = `<span><img src="{% static 'cards/cards/diamonds_4.png' %}" alt="diamonds_4"></span>`
    const diamonds5 = `<span><img src="{% static 'cards/cards/diamonds_5.png' %}" alt="diamonds_5"></span>`
    const diamonds6 = `<span><img src="{% static 'cards/cards/diamonds_6.png' %}" alt="diamonds_6"></span>`
    const diamonds7 = `<span><img src="{% static 'cards/cards/diamonds_7.png' %}" alt="diamonds_7"></span>`
    const diamonds8 = `<span><img src="{% static 'cards/cards/diamonds_8.png' %}" alt="diamonds_8"></span>`
    const diamonds9 = `<span><img src="{% static 'cards/cards/diamonds_9.png' %}" alt="diamonds_9"></span>`
    const diamonds10 = `<span><img src="{% static 'cards/cards/diamonds_10.png' %}" alt="diamonds_10"></span>`
    const diamondsJ = `<span><img src="{% static 'cards/cards/diamonds_J.png' %}" alt="diamonds_J"></span>`
    const diamondsQ = `<span><img src="{% static 'cards/cards/diamonds_Q.png' %}" alt="diamonds_Q"></span>`
    const diamondsK = `<span><img src="{% static 'cards/cards/diamonds_K.png' %}" alt="diamonds_K"></span>`

    const spadesA = `<span><img src="{% static 'cards/cards/spades_A.png' %}" alt="spades_A"></span>`
    const spades2 = `<span><img src="{% static 'cards/cards/spades_2.png' %}" alt="spades_2"></span>`
    const spades3 = `<span><img src="{% static 'cards/cards/spades_3.png' %}" alt="spades_3"></span>`
    const spades4 = `<span><img src="{% static 'cards/cards/spades_4.png' %}" alt="spades_4"></span>`
    const spades5 = `<span><img src="{% static 'cards/cards/spades_5.png' %}" alt="spades_5"></span>`
    const spades6 = `<span><img src="{% static 'cards/cards/spades_6.png' %}" alt="spades_6"></span>`
    const spades7 = `<span><img src="{% static 'cards/cards/spades_7.png' %}" alt="spades_7"></span>`
    const spades8 = `<span><img src="{% static 'cards/cards/spades_8.png' %}" alt="spades_8"></span>`
    const spades9 = `<span><img src="{% static 'cards/cards/spades_9.png' %}" alt="spades_9"></span>`
    const spades10 = `<span><img src="{% static 'cards/cards/spades_10.png' %}" alt="spades_10"></span>`
    const spadesJ = `<span><img src="{% static 'cards/cards/spades_J.png' %}" alt="spades_J"></span>`
    const spadesQ = `<span><img src="{% static 'cards/cards/spades_Q.png' %}" alt="spades_Q"></span>`
    const spadesK = `<span><img src="{% static 'cards/cards/spades_K.png' %}" alt="spades_K"></span>`

    const heartsA = `<span><img src="{% static 'cards/cards/hearts_A.png' %}" alt="hearts_A"></span>`
    const hearts2 = `<span><img src="{% static 'cards/cards/hearts_2.png' %}" alt="hearts_2"></span>`
    const hearts3 = `<span><img src="{% static 'cards/cards/hearts_3.png' %}" alt="hearts_3"></span>`
    const hearts4 = `<span><img src="{% static 'cards/cards/hearts_4.png' %}" alt="hearts_4"></span>`
    const hearts5 = `<span><img src="{% static 'cards/cards/hearts_5.png' %}" alt="hearts_5"></span>`
    const hearts6 = `<span><img src="{% static 'cards/cards/hearts_6.png' %}" alt="hearts_6"></span>`
    const hearts7 = `<span><img src="{% static 'cards/cards/hearts_7.png' %}" alt="hearts_7"></span>`
    const hearts8 = `<span><img src="{% static 'cards/cards/hearts_8.png' %}" alt="hearts_8"></span>`
    const hearts9 = `<span><img src="{% static 'cards/cards/hearts_9.png' %}" alt="hearts_9"></span>`
    const hearts10 = `<span><img src="{% static 'cards/cards/hearts_10.png' %}" alt="hearts_10"></span>`
    const heartsJ = `<span><img src="{% static 'cards/cards/hearts_J.png' %}" alt="hearts_J"></span>`
    const heartsQ = `<span><img src="{% static 'cards/cards/hearts_Q.png' %}" alt="hearts_Q"></span>`
    const heartsK = `<span><img src="{% static 'cards/cards/hearts_K.png' %}" alt="hearts_K"></span>`
</script>