{% extends 'layout.html' %}

{% load static %}

{% block title %}
    Digits
{% endblock %}

{% block content %}

    <main id="initial_screen">
    <!-- loading contents -->
        <link rel="stylesheet" href="{% static 'digits/css/style.css' %}">
        <script src="{% static 'digits/js/digits.js' %}" defer></script>

    <!-- amount -->
        <label for="amount">Amount of digits: </label>
        <input type="text" name="amount" id="digits_amount">

    <!-- memo time -->
        <label for="memo_minutes">Memo time: </label>
        <input type="text" name="memo_minutes" id="memo_minutes">
        <label for="memo_minutes">minutes</label>
        
        <input type="text" name="memo_seconds" id="memo_seconds">
        <label for="memo_seconds">seconds</label>

    <!-- recall time -->
        <label for="recall_minutes">Recall time: </label>
        <input type="text" name="recall_minutes" id="recall_minutes">
        <label for="recall_minutes">minutes</label>

        <input type="text" name="recall_seconds" id="recall_seconds">
        <label for="recall_seconds">seconds</label>

        <button id="start" onclick="startMemo()">Start</button>
    </main>

    <div id="memo_screen" class="hide">
        <p>Hello, world</p>
    </div>

    <form action="/memory/digits/" method="post">
        {% csrf_token %}
        <label for="discord_id">Your Discord id</label>
        <input type="text" name="discord_id">
        <button></button>
    </form>


{% endblock %}