<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Magil <Mente Ágil 🧠>" />
    
    <!-- Temporarily add this image for testing purposes -->
    <meta property="og:image" content="https://artofmemory.com/_astro/playing-cards-pexels-6664193.tcq8Lrgg_7f7rW.webp" />

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/memory">Memory</a>
        <a href="/math">Math</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>